body {
    position: relative;
    font-family: "Montreal", serif;
    line-height: 1.2;
    letter-spacing: 0.02em;
    background: #fff;
    color: #151515;
    overflow-x: hidden;
    width: 100%;
}
.cursor {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: 30px; height: 30px;
    background-color: #fff;
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 1000;
}
.accent {
    font-family: "DaVinci", serif;
    font-style: italic;
}
.char {
    opacity: 0;
}
.circle{
    display: flex;
    align-items: center;
    &::before{
        content: "";
        border-radius: 50%;
        background-color: #797979;
        background-color: #fff;
        width: calc(2.5px + 2.5 * ((100vw - 961px) / 959));
        height: calc(2.5px + 2.5 * ((100vw - 961px) / 959));
        margin-right: calc(2.5px + 2.5 * ((100vw - 961px) / 959));
    }
}
.white{
    color: #fff;
    .featured__service-item {
        color: #fff !important;
    }
    .featured__link::after{
        background-color: #fff !important;;
    }
}