@font-face {
    font-family: "DaVinci";
    font-style: normal;
    font-weight: 400;
    src: url('../font/davinci.woff') format("woff");
    font-display: swap
}

@font-face {
    font-family: "Montreal";
    font-style: normal;
    font-weight: 400;
    src: url('../font/montreal.woff') format("woff");
    font-display: swap
}